<h1><?= get_string('configure_course', 'repeatcourse') . " \"" . $mainCourseName . "\"" ?></h1>
<div id="coursetable_div">
<?php include( $this->get_partial_path('flash') ); ?>
<?php 
//----------------------------------------------------------------------------------------------------------------------------------------------
// Edit courses screen
//----------------------------------------------------------------------------------------------------------------------------------------------
if(isset($curCourses) && !isset($mainCourses)) { ?>
	<form name="form_repeatcourse" action="<?= $CFG->wwwroot ?>/mod/repeatcourse/index.php?action=add_repcourse" method="post">
	<input type="hidden" name="id" value="<?= $_REQUEST["id"] ?>" />
	<input type="hidden" name="maincourseid" value="<?= $_REQUEST["maincourseid"] ?>" />
	<table id="coursetable">
		<tr>
			<td colspan="5">
				<p align="left"><a href="<?= $CFG->wwwroot ?>/mod/repeatcourse/index.php?id=<?= $_REQUEST["id"] ?>"><?= get_string('back_to_main', 'repeatcourse') ?></a></p>
			</td>
		</tr>
        <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 40%;"><?= get_string('course', 'repeatcourse') ?></th>
            <th style="width: 20%;"><?= get_string('interval', 'repeatcourse') ?></th>
            <th style="width: 15%;">&nbsp;</th>
            <th style="width: 20%;"><?= get_string('ordering', 'repeatcourse') ?></th>
        </tr>
        <?php
        $orderArr = array();
        foreach ($curCourses as $course) {
			$orderArr[] = $course->ordering;
		}
        $i = 1;
        foreach($curCourses as $val){
			$order_up = ($val->ordering == min($orderArr)) ? '' : '<a href="' . $CFG->wwwroot . '/mod/repeatcourse/index.php?action=ordering_up&id=' . $_REQUEST["id"] . '&maincourseid=' . $_REQUEST["maincourseid"] . '&rep_course_id=' . $val->id . '"><img src="' . $CFG->wwwroot . '/mod/repeatcourse/media/images/triangle_up.gif" alt="' . get_string('priorityup', 'repeatcourse') . '" title="' . get_string('priorityup', 'repeatcourse') . '"/></a>';
        	$order_down = ($val->ordering == max($orderArr)) ? '' : '<a href="' . $CFG->wwwroot . '/mod/repeatcourse/index.php?action=ordering_down&id=' . $_REQUEST["id"] . '&maincourseid=' . $_REQUEST["maincourseid"] . '&rep_course_id=' . $val->id . '"><img src="' . $CFG->wwwroot . '/mod/repeatcourse/media/images/triangle_down.gif" alt="' . get_string('prioritydown', 'repeatcourse') . '" title="' . get_string('prioritydown', 'repeatcourse') . '"/></a>';
            $intervalStr = $val->cinterval . ' ';
            $intervalStr .= ($val->cinterval == 1) ? get_string('day', 'repeatcourse') : get_string('days', 'repeatcourse');

            echo '<tr id="repcourse_'.$val->id.'">
                <td>'.$i.'</td>
                <td>'.$val->name.'</td>
                <td>'.$intervalStr.' </td>
                <td><a href="' . $CFG->wwwroot . '/mod/repeatcourse/index.php?action=delete_repcourse&id=' . $_REQUEST["id"] . '&maincourseid=' . $_REQUEST["maincourseid"] . '&rep_id=' . $val->id . '" id="course_'.$val->id.'">' . get_string('remove', 'repeatcourse') . '</a></td>
                <td>
                    '.$order_up.$order_down.'</td>
            </tr>';
            $i++;
        } ?>
    <tr><td colspan="5"></td></tr>
    <tr class="available_courses">
	   <td>&nbsp;</td>
	   <td>
		        <?php if(sizeof($repeatCourses)){ ?>
		        <span>
		            <label for="course_selector"><?= get_string('add_course_text', 'repeatcourse') ?></label>
		            <select name="selected_course_id" id="course_selector">
		            <?php
		                foreach($repeatCourses as $course){
                    echo '<option value="'.$course->id.'">'.$course->fullname.'</option>';
                }
            ?>
		            </select>
		        </span>
	   </td><td>
               <span>
		            <label for="repcourse_interval"><?= get_string('interval', 'repeatcourse') . " " . get_string('indays', 'repeatcourse')?></label>
		            <input name="interval" id="repcourse_interval" type="number" min="1" max="365" placeholder="<?= get_string('intervaldays', 'repeatcourse') ?>" value="1"/>
		        </span>
        </td><td>
		        <span>
		            <?php 
					/*
					<a id="add_rep_course" href="javascript:void();" onclick="add_rep_course('<?= $CFG->wwwroot ?>')" class="button"><?= get_string('addcourse', 'repeatcourse') ?></a>
					*/
					?>
					<input type="submit" class="button" value="<?= get_string('addcourse', 'repeatcourse') ?>" />
		        </span>
		        <?php } else {
                echo get_string('no_available_courses', 'repeatcourse');
        } ?>
	    </td><td>&nbsp;</td>
    </tr>
</table>
</form>
<?php } 
//----------------------------------------------------------------------------------------------------------------------------------------------
// Index screen
//----------------------------------------------------------------------------------------------------------------------------------------------
else { ?>
<table id="coursetable">
        <tr>
            <th style="width: 40%;"><?= get_string('maincourse', 'repeatcourse'); ?></th>
            <th style="width: 40%;"><?= get_string('refreshingcourse', 'repeatcourse'); ?></th>
            <th style="width: 20%;">&nbsp;</th>
        </tr>
        <?php
        foreach($resultArray as $ra){
                echo '<tr id="maincourse_' . $ra->mid . '">
                    <td>' . $ra->fullname . '</td>
                    <td>' . rtrim($resArr[$ra->mid], ', ') . '</td>
                    <td>
                        <a href="' . $CFG->wwwroot . '/mod/repeatcourse/index.php?action=main_course_remova&id=' . $_REQUEST["id"] . '&mcid=' . $ra->mid . '">' . get_string('removeall', 'repeatcourse') . '</a>&nbsp;|&nbsp;
                        <a href="#" onclick="main_course_selecta(' . $ra->mid . ')">' . get_string('edit', 'repeatcourse') . '</a>
                    </td>
                </tr>';
        }
        ?>
    <tr>
        <td>
            <select id="main_courses" onchange="main_course_selecta(0)">
                <option value="0"><?= get_string('select_course', 'repeatcourse') ?></option>
                <?php
                    foreach($mainCourses as $mc){
                        echo '<option value="'.$mc->id.'">'.$mc->fullname.'</option>';
                    }
                ?>
            </select>
        </td>
        <td colspan="2"></td>
    </tr>
</table>
<?php } ?>
    <div id="result_msg"></div>
    <div id="rep_course_buttons">
        
    </div>
</div>
<style>
    #coursetable_div{
        text-align:center;
    }
    table#coursetable {
        margin: auto;
        text-align: center;
    }
    table#coursetable td.row_1 {
        
    }
    #available_courses,
    #rep_course_buttons,
    #result_msg {
        margin-top: 15px;
        min-height: 20px;
    }
    #available_courses span {
        margin-left: 10px;
        margin-right: 10px;
        min-width: 50px;
    }
    .msg_error{
        color: red;
    }
    .msg_success{
        color:green;
    }
</style>
