<h2><?= $dimension->label . " - " . get_string('title_questions', 'rose'); ?></h2>
<p><?= $this->link_to('index', get_string('back'), 'controller=dimension'); ?></p>

<?= $this->form_open($action = false, array('action' => ($question_id) ? 'update' : 'create')); ?>
<input type="hidden" name="dimension_id" value="<?= $dimension->id; ?>"/>
<table id='rose_question_index'>
    <tr>
        <th><?= get_string('title_question', 'rose') ?></th>
    </tr>
<?
$error_class = (soda_error::class_in_error('label')) ? ' error' : '';
foreach($questions as $question) {
    if ($question->id == $question_id) {
        if ($selected_question) $question = $selected_question;
        echo "<tr>
                <td class='soda{$error_class}'>
                    <input type='text' value='{$question->label}' name='question[label]'>
                    <input type='hidden' value='{$question_id}' name='question_id'>
                </td>";
        echo "<td><input type='submit' name='submit' value='" . get_string('update') . "'/></td>";
        echo "<td colspan='2'><input value='" . get_string('cancel') ."' type='button' onclick='window.location=\"" . $this->get_url() . "\"'/></td></tr>";
        continue;
        }
    ?>
    <tr>
        <td><?= $question->label ?></td>
        <td><a onclick="<?= $this->post_to_url_js(array('question_id' => $question->id)) ?>" href="#"><?= get_string('delete_question', 'rose') ?></a></td>
        <td><a href='<?= $this->get_url("question_id={$question->id}&dimension_id={$dimension->id}") ?>'><?= get_string('edit', 'rose') ?></a></td>
    </tr>
<?
}
?>
<? if (! $question_id ) { ?>
<tr>
    <td class='soda<?= $error_class ?>'><input type='text' value='<?= ($selected_question) ? $selected_question->label : "" ?>' name='question[label]'></td>
    <td colspan='3'><input type='submit' name='submit' value='<?= get_string('add') ?>'/></td>
</tr>
<? } ?>
</table>
</form>


