<style>
    tr.even {background-color: #FFF;}
    tr.odd {background-color: #CCC;}
    ul.rose {list-style: none;}
    .rose td {padding: 8px;}
    td.question_label {width: 400px;padding-right:50px;}
</style>

<h2>Attempt#show</h2>

<? $counter = 0; ?>
<?= $this->form_open('save', array('attempt_id' => $attempt_id)); ?>
    <table class="rose">
    <? foreach($questions as $question) { ?>
        <tr class="<?= ($counter % 2) ? 'odd' : 'even'; ?>" style="clear:both;">
            <td class="question_label"><?= $question->label ?></td>
            <td><label> <?= get_string('yes'); ?> <input <?= $this->print_checked_and_disabled($question, 1); ?> type="radio" value="1" name="answers[<?= $question->id ?>][value]"/></label></td>
            <td>
                <label> <?= get_string('no'); ?> <input <?= $this->print_checked_and_disabled($question, 0); ?> type="radio" value="0" name="answers[<?= $question->id ?>][value]"/></label>
                <input type="hidden" name="answers[<?= $question->id ?>][question_id]" value="<?= $question->id ?>"/>
                <input type="hidden" name="answers[<?= $question->id ?>][dimension_id]" value="<?= $question->dimension_id ?>"/>
            </td>
        </tr>
        <? $counter++; ?>
    <? } ?>
    </table>
    <input type="submit" value="<?= get_string('ok'); ?>" name="submit"/>
</form>
